<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Where_are_you_going? %>
    <%= f.text_field :name, :class => "form-control", :placeholder => 'Name of Trip', :id => 'form-font-size'  %>
  </div>
  </br>
  </br>
  </br>

  <div class="field">
    <%= f.label :Whats_your_budget? %><br>
    <%= f.text_field :daily_budget, :class => "form-control", :placeholder => 'Daily Budget', :id => 'form-font-size'   %>
  </div>
  </br>


  <div class="field">
    <%= f.hidden_field :user_id, :class => "form-control", :placeholder => 'Name'  %>
  </div><br/>

  <div class="actions" id="form_button">
    <%= f.submit 'Create Trip', :class => 'btn btn-default' %>
  </div>
<% end %>
