
<%= form_for(@friend, multipart: true) do |f| %>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit 'Add Photo' %>
    <%= link_to 'Nevermind', friends_path, class: 'button' %>
  </div>
<% end %>