<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Trip<span class="caret"></span></a>
                  <ul class="dropdown-menu">

                    <% if user_signed_in? %>
                      <% current_user.trips.each do |trip| %>
                        <li><%= link_to trip.name, trip %> </li>
                      <% end %>
                      <li class="dropdown-header">_________________________</li>
                        <li><%= link_to "Create Trip", new_trip_path %></li>
                    <% else %>
                      <li><%= link_to "Create Trip", new_trip_path %></li>
                    <% end %>
                  </ul>
            </li>
            <li><%= link_to "Add Photo", new_friend_path %></li>
            <% if user_signed_in? %>
            <li><%= gravatar_image_tag(current_user.email, :alt => 'Profile Image', :class => 'image_size') %></li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
                    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                  </ul>
            </li>


            <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>


          </ul>
        </div>
  </nav>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

    <!-- Page Content -->
    <div class="container">

      <div id="wrapper">
        <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">What would you like see?</a>
          </li>
          <li>
              <a class="glyphicon glyphicon-paperclip" aria-hidden="true" href="#"> Overview</a>
          </li>

          <li>
              <a class="glyphicon glyphicon-phone" aria-hidden="true" href="#"> Daily</a>
          </li>
          <li>
              <a class="glyphicon glyphicon-tasks" aria-hidden="true" href="#"> Category</a>
          </li>
          <li>
              <a class="glyphicon glyphicon-globe" aria-hidden="true" href="#"> Location</a>
          </li>
          <li>
              <a class="glyphicon glyphicon-picture" aria-hidden="true" href="#"> Trip</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

    <div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <!-- <div id="sidebar"></div>
              <div> -->
              <p id="notice"><%= notice %></p>

                </div>
                  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
                </div>

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">// Photo Gallery //
                    <small>all your memories in one place.</small>
                </h1>
            </div>
        </div>


        <div>
          <% @friends.each do |friend| %>
            <span class="col-md-3 portfolio-item">
              <%= link_to (image_tag friend.avatar.url(:square)), friend %>
            </span>
          <% end %>
        </div>


        <!-- Projects Row
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>

        <hr>

        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">«</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">»</a>
                    </li>
                </ul>
            </div>
        </div>
         -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © Your Website 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!-- <script src="js/jquery.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="js/bootstrap.min.js"></script> -->




<div class="notify js-notify">
    <div class="notify__loader">
    </div>
    <div class="notify__icon"></div>
    <div class="notify__body">
      <div class="notify__body__message">
        <span class="js-notify-message">There was an error loading this message</span>
        <span class="notify__body__actions js-notify-action">
          <a href="https://web.crowdfireapp.com/#/publish/timeline" target="_blank">
            Go to Timeline
          </a>
        </span>
      </div>
      <span class="arrow arrow--small">⤴</span>
    </div>
  </div><span id="publishImageBtn" style="display: none; position: absolute; z-index: 8675400; width: 100px; height: 25px; opacity: 0.9; cursor: pointer; border-radius: 4px; background-image: url(&quot;chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/images/publish-image.png&quot;); background-size: 100px 25px;"></span><span id="selectedIcon" style="display: none; position: absolute; z-index: 8675400; width: 40px; height: 40px; cursor: pointer; border-radius: 4px; background-image: url(&quot;chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/images/selected-icon.png&quot;); background-size: cover;"></span><script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })()</script></body>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
