    <!-- Navigation -->

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->

    <body id="landing_page_body">

          <nav class="navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                      <li><a href="#how" id="how-button">Our Product</a></li>
                      <li><a href="#tech" id="tech">Technologies</a></li>
                      </li>
                      <% if user_signed_in? %>
                      <li><%= gravatar_image_tag(current_user.email, :alt => 'Profile Image', :class => 'image_size') %></li>
                      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                      <% else %>
                      <li><%= link_to "Sign Up", new_user_registration_path %></li>
                      <li><%= link_to "Sign In", new_user_session_path %></li>
                      <% end %>
                    </ul>
                  </div>
              </nav>

            <div class="jumbotron" id="landing_page_jumbotron">

            <h1 id="jumbotron_header">TRAVELING ISN'T EASY</h1>
            <p class="lead" id="jumbo_subheadline">Don't do it alone.</p>
            <button id="jumbotron_button" type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">Learn more</button>

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-sm">
                <div class="modal-content" id="jumbotron_dropdown">

                  <div id="travelpal_logo">

                  </div>
                  <h2>Registration</h2>

                  <%= form_for(User.new, url: user_registration_path) do |f| %>
                    <%# devise_error_messages! %>

                    <!-- <form class="form-horizontal">
                      <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="formGroupInputLarge"></label>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" id="formGroupInputLarge" placeholder="email">
                        </div>
                      </div> -->

                      <div class="field">
                        <%= f.label :first_name %><br />
                        <%= f.email_field :first_name, placeholder: "first name", autofocus: true %>
                      </div>

                      <div class="field">
                        <%= f.label :last_name %><br />
                        <%= f.email_field :last_name, placeholder: "last name" %>
                      </div>

                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, placeholder: "email" %><br />
                    </div>

                    <div class="field">
                      <%= f.label :number %><br />
                      <%= f.telephone_field :number, placeholder: "number" %><br />
                    </div>

                    <div class="field">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off", placeholder: "password" %><br />
                    </div>

                    <div class="field">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "re-type password" %><br />
                    </div>

                    <div class="actions"><br />
                      <%= f.submit "Sign up", :class => 'btn btn-primary btn-lg' %> <br/> or log in
                    </div>
                  <% end %>

                </div>
              </div>
            </div>
          </div>

    <!-- Page Content -->

  <div id="landing_page_bottom">
    <div class="container" id="container_div">
        <div name="how" id="how-div" class="row" id="robot_options_div">

            <div class="col-sm-4" id="robot_div">

              <div class="robot">
                <div class="background-circle"></div>
              <!-- layer 0 has the thought waves coming from the head -->
                <section class="layer waves">
                  <div class="little radio-wave"></div>
                  <div class="medium radio-wave"></div>
                  <div class="big radio-wave"></div>
                  <div class="left-triangle"></div>
                  <div class="right-triangle"></div>
                </section>

                <!-- layer 1 should have the head, shoulders, and torso -->
                <section class="layer body">
                  <div class="head"></div>
                  <div class="shoulders"></div>
                  <div class="torso"></div>
                </section>

                <!-- layer 2 should have all the moving parts: eyes, legs, arms -->
                <section class="layer">
                  <div class="eyes">
                    <div class="eye left-eye"></div>
                    <div class="eye right-eye"></div>
                  </div>
                  <div class="right-leg leg-bone rotate-right">
                    <div class="foot-border"></div>
                    <div class="foot"></div>
                    <div class="leg-border"></div>
                    <div class="leg"></div>
                    <div class="hip-joint"></div>
                  </div>
                  <div class="left-leg leg-bone rotate-left">
                    <div class="foot-border"></div>
                    <div class="foot"></div>
                    <div class="leg-border"></div>
                    <div class="leg"></div>
                    <div class="hip-joint"></div>
                  </div>
                  <div class="left-arm arm">
                      <div class="hand-border"></div>
                      <div class="hand"></div>
                      <div class="forearm"></div>
                      <div class="joint"></div>
                  </div>
                  <div class="right-arm arm">
                      <div class="hand-border"></div>
                      <div class="hand"></div>
                      <div class="forearm"></div>
                      <div class="joint"></div>
                  </div>

                </section>
              </div>

                <h2>SMS Text Bot</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4">
              <div class="robot">
                <div class="background-circle"></div>
              <!-- layer 0 has the thought waves coming from the head -->
                <section class="layer waves">
                  <div class="little radio-wave"></div>
                  <div class="medium radio-wave"></div>
                  <div class="big radio-wave"></div>
                  <div class="left-triangle"></div>
                  <div class="right-triangle"></div>
                </section>

                <!-- layer 1 should have the head, shoulders, and torso -->
                <section class="layer body">
                  <div class="head"></div>
                  <div class="shoulders"></div>
                  <div class="torso"></div>
                </section>

                <!-- layer 2 should have all the moving parts: eyes, legs, arms -->
                <section class="layer">
                  <div class="eyes">
                    <div class="eye left-eye"></div>
                    <div class="eye right-eye"></div>
                  </div>
                  <div class="right-leg leg-bone rotate-right">
                    <div class="foot-border"></div>
                    <div class="foot"></div>
                    <div class="leg-border"></div>
                    <div class="leg"></div>
                    <div class="hip-joint"></div>
                  </div>
                  <div class="left-leg leg-bone rotate-left">
                    <div class="foot-border"></div>
                    <div class="foot"></div>
                    <div class="leg-border"></div>
                    <div class="leg"></div>
                    <div class="hip-joint"></div>
                  </div>
                  <div class="left-arm arm">
                      <div class="hand-border"></div>
                      <div class="hand"></div>
                      <div class="forearm"></div>
                      <div class="joint"></div>
                  </div>
                  <div class="right-arm arm">
                      <div class="hand-border"></div>
                      <div class="hand"></div>
                      <div class="forearm"></div>
                      <div class="joint"></div>
                  </div>

                </section>
              </div>
                <h2>Dashboard Analysis</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
              <div class="robot">
                <div class="background-circle"></div>
              <!-- layer 0 has the thought waves coming from the head -->
                <section class="layer waves">
                  <div class="little radio-wave"></div>
                  <div class="medium radio-wave"></div>
                  <div class="big radio-wave"></div>
                  <div class="left-triangle"></div>
                  <div class="right-triangle"></div>
                </section>

                <!-- layer 1 should have the head, shoulders, and torso -->
                <section class="layer body">
                  <div class="head"></div>
                  <div class="shoulders"></div>
                  <div class="torso"></div>
                </section>

                <!-- layer 2 should have all the moving parts: eyes, legs, arms -->
                <section class="layer">
                  <div class="eyes">
                    <div class="eye left-eye"></div>
                    <div class="eye right-eye"></div>
                  </div>
                  <div class="right-leg leg-bone rotate-right">
                    <div class="foot-border"></div>
                    <div class="foot"></div>
                    <div class="leg-border"></div>
                    <div class="leg"></div>
                    <div class="hip-joint"></div>
                  </div>
                  <div class="left-leg leg-bone rotate-left">
                    <div class="foot-border"></div>
                    <div class="foot"></div>
                    <div class="leg-border"></div>
                    <div class="leg"></div>
                    <div class="hip-joint"></div>
                  </div>
                  <div class="left-arm arm">
                      <div class="hand-border"></div>
                      <div class="hand"></div>
                      <div class="forearm"></div>
                      <div class="joint"></div>
                  </div>
                  <div class="right-arm arm">
                      <div class="hand-border"></div>
                      <div class="hand"></div>
                      <div class="forearm"></div>
                      <div class="joint"></div>
                  </div>

                </section>
              </div>
                <h2>Photo Blog</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>


        <!-- <section class="murderous-robot">

         <section class="buttons">
           <div class="btn btn-broadcast"><p>broadcast</p></div>
           <div class="btn btn-wave"><p>wave</p></div>
           <div class="btn btn-chase"><p>dance</p></div>

         </section>
         <div class="robot-message hide">01101101 01110101 01110011 01110100 00100000 01101011 01101001 01101100 01101100 00100000 01101000 01110101 01101101 01100001 01101110 01110011</div>
       </section> -->

        <hr>

        <div class="row"  id="what_we_do_div">
            <div class="col-sm-12">
                <h2>How we did it</h2>
                <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>

            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row" id="landing_footer">
                <div class="col-lg-12">
                    <p>Created by: <a href="https://twitter.com/mattdanking" target="_blank">@mattdanking</a>, <a href="https://twitter.com/saralhincapie" target="_blank">@saralhincapie</a>, <a href="https://twitter.com/robbytassy" >@robbytassy</a></p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>




    <!-- jQuery -->
    <!-- <script src="js/jquery.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="js/bootstrap.min.js"></script> -->



<div class="notify js-notify">
    <div class="notify__loader">
    </div>
    <div class="notify__icon"></div>
    <div class="notify__body">
      <div class="notify__body__message">
        <span class="js-notify-message">There was an error loading this message</span>
        <span class="notify__body__actions js-notify-action">
          <a href="https://web.crowdfireapp.com/#/publish/timeline" target="_blank">
            Go to Timeline
          </a>
        </span>
      </div>
      <span class="arrow arrow--small">⤴</span>
    </div>
  </div><span id="publishImageBtn" style="display: none; position: absolute; z-index: 8675400; width: 100px; height: 25px; opacity: 0.9; cursor: pointer; border-radius: 4px; background-image: url(&quot;chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/images/publish-image.png&quot;); background-size: 100px 25px;"></span><span id="selectedIcon" style="display: none; position: absolute; z-index: 8675400; width: 40px; height: 40px; cursor: pointer; border-radius: 4px; background-image: url(&quot;chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/images/selected-icon.png&quot;); background-size: cover;"></span><script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })()</script></html>
