    <!-- Navigation -->

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->

    <div class="jumbotron" id="landing_page_jumbotron">

            <h1 id="jumbotron_header">TRAVELING AIN'T EASY</h1>
            <p class="lead" id="jumbo_subheadline">Don't do it alone.</p>
            <button id="jumbotron_button" type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">Learn more</button>

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-sm">
                <div class="modal-content" id="test_div">

                  <h2>Sign up</h2>

                  <%= form_for(User.new, url: user_registration_path) do |f| %>
                    <%# devise_error_messages! %>

                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true %>
                    </div>


                    <div class="field">
                      <%= f.label :number %><br />
                      <%= f.telephone_field :number %>
                    </div>

                    <div class="field">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>

                    <div class="field">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    </div>

                    <div class="actions">
                      <%= f.submit "Sign up" %>
                    </div>
                  <% end %>


                </div>
              </div>
            </div>
          </div>

    <!-- Page Content -->


    <div class="container">
        <div class="row" id="robot_options_div">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Robot #1</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Robot #2</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Robot #3</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>

        <!-- <hr> -->

        <!-- <div class="row"  id="what_we_do_div">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="#">Call to Action »</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Start Bootstrap</strong>
                    <br>3481 Melrose Place
                    <br>Beverly Hills, CA 90210
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
                </address>
            </div>
        </div> -->
        <!-- /.row -->

        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Created by: <a href="https://twitter.com/mattdanking" target="_blank">@mattdanking</a>, <a href="https://twitter.com/saralhincapie" target="_blank">@saralhincapie</a>, <a href="https://twitter.com/robbytassy" >@robbytassy</a></p>
                </div>
            </div>
            <!-- /.row -->
        </footer>



    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>




<div class="notify js-notify">
    <div class="notify__loader">
    </div>
    <div class="notify__icon"></div>
    <div class="notify__body">
      <div class="notify__body__message">
        <span class="js-notify-message">There was an error loading this message</span>
        <span class="notify__body__actions js-notify-action">
          <a href="https://web.crowdfireapp.com/#/publish/timeline" target="_blank">
            Go to Timeline
          </a>
        </span>
      </div>
      <span class="arrow arrow--small">⤴</span>
    </div>
  </div><span id="publishImageBtn" style="display: none; position: absolute; z-index: 8675400; width: 100px; height: 25px; opacity: 0.9; cursor: pointer; border-radius: 4px; background-image: url(&quot;chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/images/publish-image.png&quot;); background-size: 100px 25px;"></span><span id="selectedIcon" style="display: none; position: absolute; z-index: 8675400; width: 40px; height: 40px; cursor: pointer; border-radius: 4px; background-image: url(&quot;chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/images/selected-icon.png&quot;); background-size: cover;"></span><script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })()</script></html>
