
<body>
   <!-- Sidebar <iframe id="publishiframe" style="display:none;" src="chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/template/content-script.html"></iframe> -->



<nav class="navbar navbar-full navbar-light bg-faded">
  <a class="navbar-brand" href="#">Full width</a>
</nav>



    <div id="wrapper" class="">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                    </a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Daily</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Location Map</a>
                </li>
                <li>
                    <a href="#">Go To Trip</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
 <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <div id="sidebar"></div>
                      <div>
                      <p id="notice"><%= notice %></p>

                      <h1>Listing Expenses</h1>

                      <table>
                        <thead>
                          <tr>
                            <th>Message</th>
                            <th>Cost</th>
                            <th>Category</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Location</th>
                            <th>User</th>
                            <th colspan="3"></th>
                          </tr>
                        </thead >

                        <tbody>
                          <% @expenses.each do |expense| %>
                            <tr>
                              <td><%= expense.textmsg %></td>
                              <td><%= expense.cost %></td>
                              <td><%= expense.category %></td>
                              <td><%= expense.date %></td>
                              <td><%= expense.time %></td>
                              <td><%= expense.location %></td>

                              <td><%= link_to 'Show', expense %></td>
                              <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
                              <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                      <%= link_to 'New Expense', new_expense_path %>
                      </div>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                  </div>




            <!--This is  the  chart from c3-->

          <div id="graphics_top_div">

        <div id="expense_chart">
          <chart_data id='nightlife' data-nightlife='<%= @donut_data[:nightlife]%>'></chart_data>
          <chart_data id='food' data-food='<%= @donut_data[:food]%>'></chart_data>
          <chart_data id='accommodation' data-accommodation='<%= @donut_data[:accommodation]%>'></chart_data>
          <chart_data id='transportation' data-transportation='<%= @donut_data[:transportation]%>'></chart_data>
          <p id='entertainmentattractions' data-entertainmentattractions='<%= @donut_data[:entertainmentattractions]%>'></chart_data>
          <chart_data id='culture' data-culture='<%= @donut_data[:culture]%>'></chart_data>
          <chart_data id='shopping' data-shopping='<%= @donut_data[:shopping]%>'></p>
          <chart_dataid='sportsoutdoor' data-sportsoutdoor_='<%= @donut_data[:sportsoutdoor]%>'></chart_data>
          <chart_data id='natureenvironment' data-natureenvironment='<%= @donut_data[:natureenvironment]%>'></chart_data>
          <chart_data id='business' data-business='<%= @donut_data[:business]%>'></chart_data>
          <chart_data id='healthfitness' data-healthfitness='<%= @donut_data[:healthfitness]%>'></chart_data>
          <chart_data id='miscellaneous' data-miscellaneous='<%= @donut_data[:miscellaneous]%>'></chart_data>
        </div>


        <div id="week_chart">
        <% @bar_data.each do |data|  %>
          <%= raw"<chart_data class='week_chart_data' data-location='#{data[:location]}' data-cost='#{data[:cost]}'></chart_data>" %>
        <%end %>
        </div>
        
        <div id="pink_chart"></div>
        </div> 
        
                  <!--This is  the end of the responsive containers -->


                  </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->



    </div>

  

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>



<div class="notify js-notify">
    <div class="notify__loader">
    </div>
    <div class="notify__icon"></div>
    <div class="notify__body">
      <div class="notify__body__message">
        <span class="js-notify-message">There was an error loading this message</span>
        <span class="notify__body__actions js-notify-action">
          <a href="https://web.crowdfireapp.com/#/publish/timeline" target="_blank">
            Go to Timeline
          </a>
        </span>
      </div>
      <span class="arrow arrow--small">⤴</span>
    </div>
  </div><span id="publishImageBtn" style="display: none; position: absolute; z-index: 8675400; width: 100px; height: 25px; opacity: 0.9; cursor: pointer; border-radius: 4px; background-image: url(&quot;chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/images/publish-image.png&quot;); background-size: 100px 25px;"></span><span id="selectedIcon" style="display: none; position: absolute; z-index: 8675400; width: 40px; height: 40px; cursor: pointer; border-radius: 4px; background-image: url(&quot;chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/images/selected-icon.png&quot;); background-size: cover;"></span><script type="text/javascript">(function () {
        return window.SIG_EXT = {};

      })()</script></body></html>


</div>





      })()</script></div>

