<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @expense.textmsg %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @expense.cost %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expense.category%>
</p>

<p>
  <strong>Date:</strong>
  <%= @expense.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @expense.location %>
</p>

<p>
<strong>Tags:</strong>
<% @expense.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
   <%end%>
</p>

<p>
  <strong>User:</strong>
  <%= @expense.user %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
