<h1>Tagged Expenses:<strong><%= @tag %><strong></h1>

  <table>
    <thead>
      <tr>
        <th>Message</th>
        <th>Cost</th>
        <th>Category</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead >

    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.textmsg %></td>
          <td><%= expense.cost %></td>
          <td><%= expense.category %></td>
          <td><%= expense.date %></td>
          <td><%= expense.time %></td>
          <td><%= expense.location %></td>

          <td><%= link_to 'Show', expense %></td>
          <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
          <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>