<!DOCTYPE html>
<html>
<head>
  <title>Currency</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



  </head>
  <body id="body_id">

    <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Trip<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <% if user_signed_in? %>
                          <% current_user.trips.each do |trip| %>
                            <li><%= link_to trip.name, trip %> </li>
                          <% end %>
                          <li class="dropdown-header">_________________________</li>
                            <li><%= link_to "Create Trip", new_trip_path %></li>
                        <% else %>
                          <li><%= link_to "Create Trip", new_trip_path %></li>
                        <% end %>  
                      </ul>
                </li>
                <li class="active"><%= link_to "Add Expense", new_expense_path %></li>
                <li><%= link_to "Trip Details", trips_details_path %> </li>
                <% if user_signed_in? %>
                <li><%= gravatar_image_tag(current_user.email, :alt => 'Profile Image', :class => 'image_size') %></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                <% else %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <% end %>
              </ul>
            </nav>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>



  <!-- Navigation -->


      <!-- <div class="container" style="width: 100%;">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav" style="float:right;">

              <% if user_signed_in? %>
              <%= gravatar_image_tag(current_user.email, :alt => 'Profile Image') %>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <% end %>
                <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>

              </ul>
          </div>
      </div> -->



<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!-- Latest compiled and minified JavaScript -->

</body>
</html>
